<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>ConnexionServlet</servlet-name>
        <servlet-class>com.jetbrains.firstpr.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.jetbrains.firstpr.AddStudentServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ConnexionServlet</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/add-student</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StudentsController</servlet-name>
        <url-pattern>/students/*</url-pattern>
    </servlet-mapping>
</web-app>